---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bakery Shop" description="sitio web de pasteleria">

    <section class="titulo">
        <div id="Destacados" ></div>
        <h2>Destacados</h2>
    </section>

    

	
    <div class="h-screen">

    </div>
    
	
	
</Layout>