---
import HeroSection from '../components/section/HeroSection.astro';
import Section2 from '../components/section/Section2.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bakery Shop" description="sitio web de pasteleria">

	<section class="titulo">
        <h2>Bakery Shop</h2>

	<HeroSection/>
	<Section2/>

	


</Layout>


