---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bakery Shop" description="sitio web de pasteleria">

    <section class="titulo">
        <h2>Nosotros</h2>
    </section>
    
    <section class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md mt-8 font-sans mb-8">
    
        <h1 class="text-4xl font-light mb-6 text-center text-black-600 underline">Nuestra Historia</h1>
        <p class="text-gray-700 text-justify mb-4">
            En <strong class="text-pink-500">Bakery Shop</strong>, cada pastel cuenta una historia. Fundada en 1934 por Doña Clara, nuestra pastelería nació de la pasión por los dulces y el deseo de compartir momentos felices a través de nuestros productos. Doña Clara, una amante de la repostería desde pequeña, decidió convertir su sueño en realidad y abrir las puertas de nuestra acogedora pastelería en el corazón de Londres, Inglaterra.
        </p>
        <img src="/fotos/Nosotros/local.antiguo.jpg" alt="Historia de Bakery Shop" class="w-full h-auto rounded-lg shadow-lg mb-6" />
        
        <h1 class="text-4xl font-light mb-6 text-center text-black-600 underline">Nuestra Filosofía</h1>
        <p class="text-gray-700 text-justify mb-4">
            Creemos que la repostería es un arte que se debe disfrutar y compartir. En <strong class="text-pink-500">Bakery Shop</strong>, utilizamos solo los mejores ingredientes naturales y frescos, muchos de los cuales provienen de nuestro propio Jardín de los Dulces, un lugar mágico donde cultivamos ingredientes especiales con mucho amor y cuidado. Cada día, horneamos nuestros productos con dedicación, asegurándonos de que cada bocado sea una experiencia única y deliciosa.
        </p>
        <img src="/fotos/Nosotros/abuela.jpg" alt="Filosofía de Bakery Shop" class="w-full h-auto rounded-lg shadow-lg mb-6" />
        
        <h1 class="text-4xl font-light mb-6 text-center text-black-600 underline">Lo Que Nos Hace Únicos...</h1>
        <p class="text-gray-700 text-justify mb-4">
            Nos enorgullece ofrecer una variedad de productos que van desde los clásicos hasta creaciones innovadoras que sorprenden a nuestros clientes. Desde nuestros icónicos pasteles de chocolate hasta los coloridos macarons, cada receta tiene su propio toque especial. Además, en <strong class="text-pink-500">Bakery Shop</strong>, valoramos la conexión con nuestra comunidad. Organizamos talleres de repostería, eventos para niños y colaboraciones con otros negocios locales. Creemos en construir relaciones duraderas y en compartir la magia de la repostería con todos.
        </p>
        <img src="/fotos/Nosotros/unicos.nosotros1.jpg" alt="Lo que nos hace únicos" class="w-full h-auto rounded-lg shadow-lg mb-6" />
        
        <h1 class="text-4xl font-light mb-6 text-center text-black-600 underline">¡Visítanos!</h1>
        <p class="text-gray-700 text-justify mb-4">
            Te invitamos a que vengas a visitarnos y descubras por ti mismo el encanto de <strong class="text-pink-500">Bakery Shop</strong>. Estamos ubicados en Avenida Futuro 321, Mar del Plata, y cada día es una nueva oportunidad para disfrutar de un dulce momento. ¡Nos encantaría ser parte de tus celebraciones y momentos especiales!
        </p>
        <img src="/fotos/Nosotros/local.nosotros.jpg" alt="Visítanos en Bakery Shop" class="w-full h-auto rounded-lg shadow-lg mb-6" />
        
    </section>
    
    <style>
        .font-sans {
            font-family: Arial, sans-serif;
        }
    </style>
    
    
    
    
	
    
	
	
</Layout>