---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bakery Shop" description="sitio web de pasteleria">
	
    <section class="titulo">
        <h2>Productos</h2>
        <p>¡Bienvenidos a nuestro rincón dulce! <p>Donde la pasión por la pastelería se convierte en deliciosas creaciones. 
           En nuestra tienda, ofrecemos una amplia variedad de productos elaborados con los mejores ingredientes y un toque artesanal.
           Desde esponjosos tortas y suaves budines hasta exquisitas medialunas y postres gourmet. ¡Cada bocado es una experiencia única!</p>
        </p>
        
           
        <div class="flex justify-between p-4">
            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72">
                <img src="/public/fotos/Productos/medialunas.jpg" alt="Medialunas" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Medialunas</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">Un delicioso desayuno con opciones saludables y gourmet para empezar el día con energía.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>
        
            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72">
                <img src="/public/fotos/Productos/croissant1-min.jpg" alt="Croissant" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Croissant</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">Un delicioso desayuno con opciones saludables y gourmet para empezar el día con energía.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>

            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72">
                <img src="/public/fotos/Productos/cookies1-min.jpg" alt="Cookies" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Cookies</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">Un delicioso desayuno con opciones saludables y gourmet para empezar el día con energía.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>
      
            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72">
                <img src="/public/fotos/Productos/torta1-min.jpg" alt="Tortas" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Tortas</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">Un delicioso desayuno con opciones saludables y gourmet para empezar el día con energía.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>
        
            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72">
                <img src="/public/fotos/Productos/budines1-min.jpg" alt="Budines" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Budines</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">Un delicioso desayuno con opciones saludables y gourmet para empezar el día con energía.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>
        </div>

    </section>

<!---
  <div class="producto">
            <img class="m-40 h-40" src="/public/fotos/Productos/medialunas-ap.webp" alt="Producto 2">
            <div class="Medialunas">Medialunas</div>
            <div class="precio">$500.00</div>
        </div>
    
    
    <div class="producto">
        <div class="nombre">Producto 2</div>
        <div class="precio">$15.00</div>
    </div>
    
    <div class="producto">
        <div class="nombre">Producto 3</div>
        <div class="precio">$20.00</div>
    </div>
    
    <div class="producto">
        <div class="nombre">Producto 4</div>
        <div class="precio">$25.00</div>
    </div>

     -->
    
	
</Layout>