---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bakery Shop" description="sitio web de pasteleria">

    <section class="titulo">
        <h2>Servicios</h2>
        <p>
           Nuestros servicios se caracterizan por la calidad de nuestros productos y la atencion personalizada de nuestros colaboradores. 
           <br> Podes elegir entre desayunos/meriendas, brunch y catering para eventos. 
           <br> Consultanos tus dudas a nuestro numero de Contacto y pronto te daremos una respuesta.<br>¡Gracias por elegirnos! 
        </p>
      

        <div class="flex flex-wrap justify-between p-4">
            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72 mx-2 b-4">
                <img src="/public/fotos/Servicios/desayuno-min.jpg" alt="Desayuno" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Desayuno</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">Un delicioso desayuno con opciones saludables y gourmet para empezar el día con energía.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>
        
            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72 mx-2 mb-4">
                <img src="/public/fotos/Servicios/merienda-min.jpg" alt="Merienda" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Merienda</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">La merienda perfecta para disfrutar en cualquier momento del día.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>

            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72 mx-2 mb-4">
                <img src="/public/fotos/Servicios/brunch1-min.jpg" alt="Brunch" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Brunch</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4"> Una deliciosa fusión de desayuno y almuerzo, para disfrutar de sabores irresistibles.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>
      
            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72 mx-2 mb-4">
                <img src="/public/fotos/Servicios/catering-min.jpg" alt="Catering" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Catering</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">¡Transforma tu evento con nuestro servicio de catering! Brindamos una experiencia unica.</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>

            <div class="producto border rounded-lg p-6 text-center shadow-lg transition-transform duration-200 hover:scale-105 w-72 mx-2 mb-4">
                <img src="/public/fotos/Servicios/party-min.jpg" alt="Party" class="w-full rounded-lg mb-4">
                <div class="nombre text-2xl mb-2">Party</div>
                <div class="precio text-xl text-green-600 mb-2">$10.00</div>
                <div class="descripcion text-gray-600 mb-4">¡Convierte tu celebración en un evento inolvidable con nuestro servicio de Party!</div>
                <button class="btn-comprar bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Comprar Ahora</button>
            </div>
        
           
        </div>




    </section>

    <section>

    </section>
	
    
	
	
</Layout>