<footer class="footer">
    <section class="footer-contacto">
        <h2>Contactanos</h2>
            <ul class="items-contacto">
                <li>
                    <img src="/fotos/Iconos+Logo/email.png" alt="Icono Mail">
                    <p>bakery.shop@hotmail.com</p>
                </li>
                <li>
                    <img src="/fotos/Iconos+Logo/whatsapp.png" alt="Icono Whatsapp">
                    <p>223-5778899</p>
                </li>
                <li>
                    <img src="/fotos/Iconos+Logo/map.png" alt="Icono Mapa">
                    <p>Avenida Futuro 321, Mar del Plata</p>
                </li>
            </ul>
    </section>
    <section class="footer-contacto2">
        <h2>Redes Sociales</h2>
        <ul class="items-contacto2">
            <li>
                <a href="https://www.facebook.com">
                    <img class="icons2" src="/fotos/Iconos+Logo/facebook.png" alt="Icono Facebook">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com">
                    <img class="icons2" src="/fotos/Iconos+Logo/instagram.png" alt="Icono Instagram">
                </a>
            </li>

        </ul>

    </section>
</footer>
